**Try and Except**

In [7]:
num1 = int(input("Enter the first number :\n"))
num2 = int(input("Enter the second number :\n"))
# print(num1, num2)
try:
    print("I am inside the try block")
    sum = num1+num2
    print("The sum of two numbers is ", sum)
except:
    pass

I am inside the try block
The sum of two numbers is  30

In [10]:
num1 = input("Enter the first number :\n")
num2 = input("Enter the second number :\n")
# print(num1, num2)
try:
    print("I am inside the try block")
    sum = int(num1)+int(num2)
    print("I have completed the task")
    print("The sum of two numbers is ", sum)
except Exception as e:
    print("I am inside the Catch block")
    print("The error which happed is :", e)

I am inside the try block
I am inside the Catch block
The error which happed is : invalid literal for int() with base 10: 'shah'

**Global and Local Variables**

In [14]:
l=20 #Global variable
def function(n):
    l=40 #Local variable
    print(n,"I have printed the value of L which is :", l)
function("Jamal shah")

Jamal shah I have printed the value of L which is : 40

**lambda function**

In [15]:
#simple function
def add(a, b):
    return a +b
print(add(10, 20))

30

In [29]:
#Lambda function
add = lambda x,y: x+y 
print(add(10,40))

sub = lambda x,y: x-y 
print(sub(100,40))

mul = lambda x,y: x*y 
print(mul(10,40))

div = lambda x,y: x/y 
print(div(10,2))

50
60
400
5.0

**Parameters**

In [18]:
def studentScore(name, score):
    print(name, " Scored ", score, " Marks")

studentScore("Shah", 100)

Shah  Scored  100  Marks

**Default Parameters**

In [19]:
def studentScore(name="Jamal", score=0):
    print(name, " Scored ", score, " Marks")

studentScore()

Jamal  Scored  0  Marks

In [20]:
def studentScore(name="Jamal", score=0):
    print(name, " Scored ", score, " Marks")

studentScore("Shah", 90)

Shah  Scored  90  Marks

In [23]:
def studentScore(name="Jamal", score=0):
    print(name, " Scored ", score, " Marks")

studentScore(score=90)

Jamal  Scored  90  Marks

**Multiple Arguments**

In [24]:
def studentScore(name, *score):
    print(name, score)

studentScore("Khan", 100, 40, 50, 20)

Khan (100, 40, 50, 20)